@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    width: 360px;
    margin: 0 auto;
}
.container{
    max-width: 318px;
    margin: 0 auto;
}
header{
    background-color: #F26C4F;
    width: 100%;
    height: 91px;
    -webkit-box-shadow: 0px 1px 8px -2px rgba(84,84,84,1);
    -moz-box-shadow: 0px 1px 8px -2px rgba(84,84,84,1);
    box-shadow: 0px 1px 8px -2px rgba(84,84,84,1);
    margin-bottom: 26px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px 5px 10px;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #ffffff;
    font-size: 20px;
    padding-right: 82px;
}
.profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-name{
    display: flex;
    align-items: center;
}
.user-name h2{
    font-family: 'Roboto', sans-serif;
    color: #F26C4F;
    font-size: 24px;
    font-weight: normal;
}
.medals{
    display: flex;
    align-items: center;
}
.medals span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #A4A1A1;
    padding-left: 5px;
}
.days-container{
    margin-top: 25px;
}
.days{
    display: flex;
}
.items-container{
    margin-top: 19px;
}
.item{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
    padding: 8px 10px 13px 20px;
    margin-bottom: 15px;
    width: 100%;
}
.data-item{
    display: flex;
    align-items: center;
}
.data{
    padding-left: 25px;
    width: 160px;
}
.data h3{
    font-family: Open Sans;
    color: #F26C4F;
    font-size: 18px;
    font-weight: normal;
    padding: 0 1px;
}
.data p{
    font-family: Open Sans;
    color: #A4A1A1;
    font-size: 11px;
}
.select-data h3{
    color: #A4A1A1;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label{
    cursor:pointer;
} 
label:before{
    content:'';
    background:transparent;
    border: 2px solid #D1D1D1;
    border-radius: 5px;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-right: 20px;
    text-align:center;
}
input[type=checkbox]:checked + label:before{
    content: '✔';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#ffffff;
    background-color: #F26C4F;
    border: 2px solid #F26C4F;
}
.line{
    display: block;
    width: 100%;
    border-bottom: 1px solid #A4A1A1;
    margin: 20px 0;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    font-family: Roboto;
}
.total h4{
    font-size: 14px;
}
.total-primary h4, span{
    color: #F26C4F;
    font-weight: 500;
}
.total-primary span{
    font-size: 18px;
    color: #F26C4F;
    font-weight: 500;
}
.total-secondary h4, span{
    color: #A4A1A1;
    font-weight: normal;
}
.total-secondary span{
    font-size: 14px;
    color: #A4A1A1;
    font-weight: 100;
}
.tab-pane{
    display: none;
}
.tab-pane.active{
    display: block;
}
.icon{
    background: linear-gradient(180deg, rgba(242,108,79,1) 37%, rgba(254,44,0,1) 85%);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.icon-task{
    width: 100%;
    padding: .3rem;
}
.completed{
    filter:grayscale(1);
}

.days a{
    text-decoration: none;
    text-decoration: none;
    color: #A4A1A1;
    font-family: Open Sans;
    font-size: 16px;
    text-align: center;
    background-color: #E8E8E8;
    border-left: none;
    padding: 6px 19px;
}
.days a:first-child{
    border-radius: 20px 0 0 20px;
}
.days a:last-child{
    border-radius: 0px 20px 20px 0;
}
.days a.active{
    background: rgb(242,108,79);
    color: #fff;
    background: linear-gradient(180deg, rgba(242,108,79,1) 37%, rgba(254,44,0,1) 85%);
}